<div class="main-section-customers-says">
    <div class="customers-one-say">
        <div class="customers-top">
            <div class="customer-top-left">
                <img src={{ 'customer_icon.png' | asset_url }}>
                <h2>Kiara Di Paola</h2>
            </div>
            <img class="google_icon" src={{ 'google_icon.png' | asset_url }}>
        </div>
        <div class="customers-rating-bar">
            <img src={{ 'rating_icon.png' | asset_url }}/>
            <img src={{ 'rating_icon.png' | asset_url }}/>
            <img src={{ 'rating_icon.png' | asset_url }}/>
            <img src={{ 'rating_icon.png' | asset_url }}/>
            <img src={{ 'rating_icon.png' | asset_url }}/>
        </div>
        <h3>Had a great night at Liquor Lab! Learnt how to make 4 cocktails in a really fun atmosphere. Will definitely
            be back for another class.</h3>
    </div>
    <div class="customers-one-say">
        <div class="customers-top">
            <div class="customer-top-left">
                <img src={{ 'customer_icon.png' | asset_url }}>
                <h2>Camina Raphael</h2>
            </div>
            <img class="google_icon" src={{ 'google_icon.png' | asset_url }}>
        </div>
        <div class="customers-rating-bar">
            <img src={{ 'rating_icon.png' | asset_url }}/>
            <img src={{ 'rating_icon.png' | asset_url }}/>
            <img src={{ 'rating_icon.png' | asset_url }}/>
            <img src={{ 'rating_icon.png' | asset_url }}/>
            <img src={{ 'rating_icon.png' | asset_url }}/>
        </div>
        <h3>Mix up with reservations accommodations were made, food is good. Lead bartender is entertaining!!</h3>
    </div>
    <div class="customers-one-say">
        <div class="customers-top">
            <div class="customer-top-left">
                <img src={{ 'customer_icon.png' | asset_url }}>
                <h2>Fabio Streets</h2>
            </div>
            <img class="google_icon" src={{ 'google_icon.png' | asset_url }}>
        </div>
        <div class="customers-rating-bar">
            <img src={{ 'rating_icon.png' | asset_url }}/>
            <img src={{ 'rating_icon.png' | asset_url }}/>
            <img src={{ 'rating_icon.png' | asset_url }}/>
            <img src={{ 'rating_icon.png' | asset_url }}/>
            <img src={{ 'rating_icon.png' | asset_url }}/>
        </div>
        <h3>SOOOO MUCH FUN! It was a great experience and the instructor was awesome. The place is spacious..</h3>
    </div>
</div>